body {
    text-align: center;
}

.footer {
	color: #696969;
}

a:link {
	color: #696969;
	text-decoration: none;
}

a:hover {
	color: #483d8b;
}

a:active {
	color: #483d8b;
}

a:visited {
	color: #696969;
	text-decoration: none;

@font-face {
	font-family: 'Aclonica';
	src: url('http://fonts.googleapis.com/css?family=Aclonica');
}
